@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* sección INICIO */
.inicio::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cambia el último valor para ajustar la opacidad */
    z-index: 1; /* Asegura que esté encima del fondo existente */
}


.contenido {
    max-width: 1300px;
    margin: auto;
    position: relative; /* Asegura que el contenido sea un contexto de posición para el pseudo-elemento */
    z-index: 0; /* Asegura que el contenido esté detrás del fondo */
}

.contenido::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el valor de la opacidad según lo necesites */
    z-index: -1; /* Asegura que esté detrás del contenido */
}
.background-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    background-image: url('img/fondo.gif'); /* Reemplaza 'ruta/de/tu/imagen.gif' con la ruta de tu GIF */
    background-size: cover;
    background-position: center;
}

.background-slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

/* ENCABEZADO */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header h1 a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
}

header h1 a:hover {
    color: #e74452;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 7px;
    transition: .3s;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #000;
    border-bottom: 5px solid gold;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: auto;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:not(:last-child) {
    margin-right: 40px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ff0;
}

#logo {
    width: 90px;
    height: auto;
    margin-left: 20px;
}

.background-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.background-slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0; /* Asegura que esté detrás del contenido */
}

.background-slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -2; /* Asegura que esté detrás del fondo negro transparente */
}

.background-slider img.active {
    opacity: 1;
    z-index: -1; /* Asegura que esté delante del fondo negro transparente */
}


/* Estilos para el menú desplegable */
.nav-links li ul {
    background-color: #000; /* Fondo negro */
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    display: none;
}

.nav-links li:hover ul {
    display: block;
}

.nav-links li ul li {
    margin: 5px 0;
}

.nav-links li ul li a {
    color: #fff; /* Texto blanco */
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 5px 0;
}

.nav-links li ul li a:hover {
    color: #ff0; /* Cambio de color al pasar el mouse */
}
